.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header{
  width: 100%;
  background-color: rgb(255, 0, 0);
  color: #fff;
  padding: 1%;
  text-align: left;
}

.header .marca{
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header .regresar{
  text-align: right;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header.inicio{
  margin-left: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
